<div class="header-content">
    <div class="header-content-inner">
        <h1 id="homeHeading">Gallery</h1>
                <hr>
        <p></p>
    </div>
</div>
<div>
    <% for(var i=0; i < images.length; i++) { %>
        <div class="gallery section">
            <a target="_blank" href="<%= images[i].src %>" data-lightbox="example-set"><img src="<%= images[i].src %>" alt="image"></a>
        </div>
        <% } %>
</div>

<%- contentFor('styles') %>
    <link rel="stylesheet" href="/css/pages/gallary.css">
    <link rel="stylesheet" href="/css/pages/home.css">
    <link rel="stylesheet" href="/css/lightbox.css">

    <%- contentFor('breadcrumbs') %>
        <ol class="breadcrumb">
            <li><a href="/">Home</a></li>
            <li class="active">Gallary</li>
        </ol>

        <%- contentFor('scripts') %>
            <link rel="stylesheet" href="/js/lightbox.js">