<div class="header-content">
    <div class="header-content-inner">
        <h1 id="homeHeading">Players</h1>
        <hr>
        <p></p>
    </div>
</div>

<div>
<div class="col-md-6">
<table class="table borderless pull-right">
<thead>
    <tr>
     <td colspan="2" class="text-center"><h3>Men - Singles</h3></td>
   </tr>
   
   <tr>
     <th>SL No</th>
     <th>Name</th>
   </tr>
</thead>
<tbody>
<% for(var i=0; i < singles_men.length; i++) { %>
   <tr>
     <td><%= (i+1).toString() %></td>
     <td><%= singles_men[i] %></td>
   </tr>
<% } %>
</tbody>
</table>
</div>
<div class="col-md-6">
<table class="table borderless">
<thead>
<tr>
     <td colspan="2" class="text-center"><h3>Women - Singles</h3></td>
   </tr>
   <tr>
     <th>SL No</th>
     <th>Name</th>
   </tr>
</thead>
<tbody>
<% for(var i=0; i < singles_women.length; i++) { %>
   <tr>
     <td><%= (i+1).toString() %></td>
     <td><%= singles_women[i] %></td>
   </tr>
<% } %>
</tbody>
</table>
<hr/>
<table class="table borderless">
<thead class="thead">
<tr>
     <td colspan="2" class="text-center"><h3>Doubles</h3></td>
   </tr>
   <tr>
     <th>SL No</th>
     <th>Teams</th>
   </tr>
</thead>
<tbody>
<% for(var i=0; i < doubles.length; i++) { %>
   <tr>
     <td><%= (i+1).toString() %></td>
     <td><%= doubles[i] %></td>
   </tr>
<% } %>
</tbody>
</table>
</div>
</div>
<%- contentFor('styles') %>
    <link rel="stylesheet" href="/css/pages/home.css">

    <%- contentFor('breadcrumbs') %>
        <ol class="breadcrumb">
            <li><a href="/">Home</a></li>
            <li class="active">Players</li>
        </ol>